/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* h1 */
h1 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  color: purple;
  margin-top: 20px;
  font-size: 48px;
}

/* body */
body {
  background-color: grey;
}
