 /* ==========startMachine========= */

body {
  margin: 0 auto;
}

.container {
  margin-left: 50px;
  margin-top: 20px;
}

.button {
  margin-left: 45px;
  color: pink;
  background-color: #2fede1;
  border: #2fede1 solid 1px;
  width: 120px;
  height: 30px;
  font-size: large;

}




/* ========== .. ========= */