/* reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* body */

body {
  background-color: aquamarine;
  font-family: "Hubballi", cursive;
  align-items: center;
}
