/* reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* body */

body {
  background-color: aquamarine;
  font-family: "Hubballi", cursive;
}

/* container  */
#loancal {
  width: 350px;
  height: 320px;
  background-color: white;
  color: #fff;
  padding: 10px;
  margin: 100px auto;
  margin-top: 30%;
}

h1 {
  font-size: 30px;
  text-align: center;
  color: rgb(9, 95, 172);
  margin-bottom: 35px;
}

/* form */
#input {
  margin-left: 40px;
  margin-right: 40px;
}

label {
  color: rgb(17, 103, 170);
  font-size: 17px;
}

input {
  width: 100%;
  height: 33px;
}

/* display payment */
h2 {
  text-align: center;
  color: rgb(6, 111, 139);
  margin-top: 35px;
}
