/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  height: 100vh;
  display: flex;
  font-family: "PT Sans", sans-serif;
  background-color: teal;
  text-align: center;
  align-items: center;
  color: white;
}

/* h1 */
/* h1 {
  margin-top: 15px;
} */

/* pass-gen */
#pass_gen {
  padding: 2rem;
  margin: 0 auto;
  width: 500px;
  border-radius: 3px;
  box-shadow: 0 0 15px #fff;
  border: 3px solid lime;
  position: relative;
  background-color: white;
  white-space: nowrap;
}
/* 
input {
  background-color: transparent;
} */

/* output */
/* #output {
  text-align: center;
  font-size: 2rem;
  margin: 0 auto 1.2rem;
  padding: 5px;
  box-shadow: 0 0 20px rgbs(0, 139, 253, 0.5);
} */

/* #pass_gen .range {
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 60px;
  max-width: 70%;
  margin-left: 15%;
  padding: 0.4rem 1rem 0.8rem 2.5rem;
  border: 2px solid teal;
  border-radius: 3px;
} */

/* Lingth display */
/* #display_pass_length {
  border: none;
  width: 40px;
} */

/* length range */
/* #pass_gen .range input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 40%;
  max-width: 100%;
  height: 15px;
  padding: 0px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 0 2px 35px rgba(0, 0, 0, 0.5);
  background-color: tra;
  border-radius: 10px;
  cursor: pointer;
  scroll-behavior: smooth;
  z-index: 1;
  margin-right: 40px;
} */

/* .range input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(9, 71, 222);
  cursor: pointer;
  border-radius: 18px;
  transition: 0.5s ease;
} */

/* length display */
/* body #password-generator .range #display-password-length {
  text-align: center;
  font-size: 1.4rem;
  width: 80px;
  padding-top: 10px;
} */

/* password attrubute buttons */
/* .flex {
  margin: 1rem 1rem 2rem;
  display: flex;
  justify-content: space-between;
  color: black;
}

.flex input {
  display: none;
}

.flex input:checked + label {
  border: 2px solid rgb(205, 151, 12);
  background: rgb(173, 144, 82);
  filter: brightness(120%);
  transform: scale(1.1);
}

.flex label {
  border: 2px solid #0571bb;
  border-radius: 4px;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1.3rem;
  text-align: center;
  display: block;
  width: 80px;
  transition: 0.2s ease;
} */

/* gennerate button */
/* .generateButton {
  outline: none;
  background: #0f6cc3;
  color: white;
  border: none;
  padding: 1rem 2rem;
  margin: 0.5rem 0;
  border-radius: 3px;
  box-shadow: 1px 1px 6px 1px #8f8a8a;
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.generateButton:hover {
  border: 2px solid rgb(205, 151, 12);
  background: rgb(173, 144, 82);
} */
