/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  height: 100vh;
  width: 100%;
  background-color: orangered;
  color: orange;
  text-align: center;
}
