/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: slategray;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 500px;
  padding: 40px;
  background-color: white;
  display: flex;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-size: 2rem;
  margin: -40px -40px 50px -40px;
  text-align: center;
  background: rgb(29, 98, 203);
  color: #fff;
}

.container textarea {
  position: relative;
  margin-bottom: 20px;
  resize: none;
  height: 200px;
  width: 100% !important;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 10px rgba(0, 139, 253, 0.45);
  letter-spacing: 0.1rem;
}
