body {
  margin: 0 auto;
}

h2 {
  width: 310px;
  height: 30px;
  padding: 8px;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-left: 40%;
  margin-right: 40%;

}

#btn {
  width: 80-pxpx;
  height: 30px;
  background-color: pink;
  margin-left: 40%;
  margin-right: 40%;
  border-radius: 5px;
}